.container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

    
.position1 {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin: 45px;
    position: relative;
    
}
.position2 {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: 30px;
    margin-left: 190px;
    
    
    
}
.position3 {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: 200px;
    

}
