* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}
.header {
    background-color: rgb(100, 190, 88);
    color: white;
    min-height: 100vh;
}
.logo {
    margin: 3rem auto;
    text-align: center;
}
.nav_item {
    padding: 0.2rem 1rem;
}
.main {
    background-color: rgb(184, 180, 180);
}
.main_title {
    height: 300px;
    background-image: url(../img/main_title.jpg);
    color: rgba(255, 255, 255, 0.603);
    font-size: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_card_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.card {
    background-color: rgb(134, 45, 45);
    padding: 1rem ;
}
.card_img {
    padding-top: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1rem;
}
.card_info > p {
    margin-bottom: 0.5rem;
}
input[type="search"] {
    width: 80%;
    margin: 1rem 1rem;
    padding: 10px;
}
.btn_search {
    
}