div {
    width: 150px;
    height: 150px;
    margin: 5px;
}
.line-1 {
    background: linear-gradient(60deg, white, blue 80%, white );
}
.cir-1 {
    /* circle closest-corner */
    background: radial-gradient(circle at 0% 20%, white, blue, white);
}